.favorite-card-container
  @include align-items-center
  justify-content: flex-start
  gap: 40px
  padding: 20px 10px
  height: 180px

  .ico
    width: 10%
    cursor: pointer

  img
    width: 125px
    height: 140px

  .title
    width: 40%
    color: #FFF
    font-weight: 400
    @include default-mega-button-text

  .basket-btn
    width: 20%

  .price
    width: 25%
    color: #FFF
    @include default-mega-button-text


@media only screen and (max-width: 1024.98px)

  .favorite-card-container
    gap: 20px

    img
      width: 60px
      height: 60px

@media only screen and (max-width: 575.98px)

  .favorite-card-container
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%

    .ico
      width: 110px
      height: 100px


    .title,
    .basket-btn,
    .price
      width: 100%
      text-align: center
      justify-content: center
      align-items: center

      .main-button-block
        justify-content: center
        align-items: center