.button-link
  @include justify-content-center
  align-items: center
  height:  35px
  width: 135px
  background-color: #FFD600
  color: #000
  transition: 0.2s

  &:hover
    background-color: #F4A900
    color: #FFF

.header-container
  @include justify-content-center
  padding: 30px 0
  width: 100vw
  box-sizing: border-box

  .header-block
    @include align-items-center
    gap: 40px
    width: $step * 322
    justify-content: space-between

    .left-block
      @include justify-content-center
      align-items: center
      gap: 40px

      .ico
        img
          width: 173px
          height: 40px

      .search
        display: flex
        position: relative

    .right-side
      @include justify-content-center
      align-items: center
      gap: 40px

      .ico-btn
        cursor: pointer
        position: relative

  .search-result
    @include direction-column
    gap: 15px
    background-color: rgba(0, 0, 0, 0.5)
    position: absolute
    max-height: 200px
    height: 100px
    width: 100%
    bottom: -100px
    left: 0
    color: #FFFFFF
    font-size: 15px

  .count-basket-products
    position: absolute
    right: -15px
    bottom: -10px
    background-color: #FFD600
    border-radius: 50%
    width: 20px
    height: 20px
    @include align-items-center
    justify-content: center

    .count
      color: #000
      font-weight: 700
      font-size: 12px
