.catalog-container
  background-color: #1D1D1D
  width: 100vw
  box-sizing: border-box
  @include direction-column
  justify-content: center
  align-items: center

  .catalog-block
    display: flex
    align-items: flex-start
    width: $step * 322
    gap: 50px
    padding: 100px 50px
    box-sizing: border-box

    .left-side
      @include direction-column
      gap: 20px
      width: 30%

      .sort-price
        @include direction-column
        gap: 20px

        .title
          @include default-mega-paragraph
          font-weight: 600

        .filter-interval
          display: flex
          gap: 10px
          color: #FFF

        .filter-btn
          cursor: pointer

          &:hover
            text-decoration: underline 2px

      .line
        width: 100%
        height: 1px
        background-color: #FFD600
        margin: 20px 0

      .categories-title
        @include direction-column
        gap: 20px

        .title
          @include default-mega-paragraph
          font-weight: 600

        .categories
          @include direction-column
          gap: 15px
          color: #FFF

          .category
            width: 100%
            cursor: pointer

            &._active
              color: #F4A900

            &:hover
              color: #F4A900

            &._active
              color: #f1a500

  .right-side
    width: 70%
    @include direction-column
    gap: 60px

    .sort-block
      width: 250px
      padding: 10px
      color: #FFF
      border-bottom: #FFD600 2px solid
      cursor: pointer
      position: relative

    .products-list-block
      display: flex
      gap: 60px
      flex-wrap: wrap
      height: 100%
      align-self: stretch

  .more-block
    @include justify-content-center
    align-items: center
    width: 100%
    color: #FFF
    gap: 10px
    cursor: pointer

@media only screen and (max-width: 1440.98px)

  .catalog-container
    .catalog-block
      width: 100%
      padding: 50px 60px

    .right-side
      gap: 30px


@media only screen and (max-width: 1024.98px)

  .catalog-container
    .catalog-block
      flex-direction: column
      gap: 40px
      padding: 30px 40px

    .right-side,
    .left-side
      width: 100%


@media only screen and (max-width: 575.98px)
